.form-wrap {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-item {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35rpx;



    .form-label {
      width: 100%;
      opacity: 0.6;
      font-weight: 400;
      letter-spacing: 0rpx;
      color: rgba(64, 72, 82, 1);
      text-align: left;
      vertical-align: top;
    }

    .tags {
      display: flex;
      justify-content: space-evenly;
    }

    .form-inner {
      display: flex;
      position: relative;
      width: 100%;
      margin-top: 21rpx;


      .form-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 50rpx;
        height: 70rpx;
        // background-image: url(../../assets/feat.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }

    .fold-icon {
      width: 16PX;
      height: 16PX;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARzQklUCAgICHwIZIgAAAA+SURBVDiNY2AYBWSBhoYGBxibCU2igQjNDQwMDA6EFOCUI8YSrIYQrRmbIfg0M5JiCNG2oxniQJbGUUA8AADRXh3EVj4RkAAAAABJRU5ErkJggg==);
      position: relative;
      top: 57PX;
      left: 334PX;
    }

    .form-divide {
      width: 326PX;
      margin: 5PX auto;
      opacity: 0.2;
      border: 0.5rpx solid rgba(151, 151, 151, 1);
    }

    .tag-wrap {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 35rpx;

      .tag-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .tag-color {
          width: 120rpx;
          height: 120rpx;
          border-radius: 50%;
          filter: grayscale(50%);

          &.active {
            filter: grayscale(0%);
          }
        }

        .tag-labe1 {
          margin-top: 35rpx;
        }
      }
    }

    .form-btn {
      width: 100%;
      height: 90rpx;
      color: white;
      border-radius: 56rpx;
      background: linear-gradient(135deg,
          rgba(255, 78, 84, 1) 0%,
          rgba(255, 117, 105, 1) 100%);
      box-shadow: 0px 3px 10px 0px rgba(255, 80, 85, 0.6);
      margin-top: 35rpx;
      text-align: center;
      line-height: 90rpx;
    }

    .form-del {
      margin-top: 30rpx;
      color: #A6A6A6;
    }
  }
}

.title {
  font-size: 22PX;
  font-weight: 400;
  letter-spacing: 0.36px;
  line-height: 41px;
  color: rgba(64, 72, 82, 1);
  text-align: left;
  vertical-align: top;
  left: 36PX;
  width: 90PX;
  position: relative;
  height: 41PX;
}

.last-divide {
  margin-top: -8PX !important
}

.team-name {
  font-size: 16PX;
  font-weight: 400;
  letter-spacing: 0PX;
  line-height: 22PX;
  color: rgba(64, 72, 82, 1);
  text-align: left;
  vertical-align: top;
  margin: 0PX 0PX 10PX 0PX;
  opacity: 0.6;
}

.group {
  position: relative;
  left: 24PX;
  width: 310PX;
  overflow: hidden;
  transition: all 1s ease-out;
}

.format {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.team-header {
  display: flex;
  width: 326PX;
  margin: 0 auto;
  justify-content: space-between;

  .all-select {
    //  background-image: url(../../assets/select.png);
    border: 1px solid #27D0D8;
    border-radius: 16PX;
    width: 16PX;
    height: 16PX;
    position: relative;
    top: 13PX;
  }
}

.group checkbox {
  margin-right: 10PX;
  transition: all 1s ease-out;
  margin-bottom: 10PX;
}