.select {
height: 70px;
width: 150px;
text-align: center;
margin:  0 auto;
margin-right: 44%;
margin-bottom: 50px;
border: 2px solid ;
background-color:" linear-gradient(135deg, rgba(255, 171, 134, 1) 0%, rgba(229, 229, 229, 1) 0%);";
border-radius: 10px;
line-height: 66px;
}