.index {
    .header {
        display: flex;
        margin: 0 auto;
        width: 90%;

        .search {
            display: flex;
            width: 150PX;
            margin-left: 6PX;
            .search-input{
                margin-left: 5PX;
            }
        }

        .select {
            position: absolute;
            right: 22PX;
            .filter-icon {
                display: inline-block;
                background-image: url(../../assets/filter.png);
                height: 18PX;
                width: 17PX;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
        }
    }
}

.btns {
    display: flex;
    position: sticky;
    bottom: 20PX;
    width: 200PX;
    margin: 0 auto;

    .export {
        position: sticky;
        width: 110PX;
        height: 56PX;
        border-radius: 28PX;
        background: linear-gradient(135deg, #efdada, #fff2f2);
        line-height: 56PX;
    }

    .add {
        position: static;
        align-items: center;
        width: 56PX;
        height: 56PX;
        border-radius: 56PX;
        font-size: 48rpx;
        line-height: 56PX;
        text-align: center;
        background: linear-gradient(135deg, #efdada, #fff2f2);
    }
}