.btns {
    display: flex;
    position: sticky;
    bottom: 20PX;
    width: 200PX;
    margin: 0 auto;

    .export {
        position: sticky;
        width: 110PX;
        height: 56PX;
        border-radius: 28PX;
        background: linear-gradient(135deg, rgba(255, 78, 84, 1) 0%, rgba(255, 117, 105, 1) 100%);
        box-shadow: 0px 3px 10px 0px rgba(255, 80, 85, 0.6);
        line-height: 56PX;
    }

    .add {
        position: static;
        align-items: center;
        width: 56PX;
        height: 56PX;
        border-radius: 56PX;
        color: white;
        font-size: 48rpx;
        line-height: 120rpx;
        text-align: center;
        background: linear-gradient(135deg,
                rgba(255, 78, 84, 1) 0%,
                rgba(255, 117, 105, 1) 100%);
        border: 2rpx solid rgba(255, 80, 85, 1);
        box-shadow: 0rpx 20rpx 40rpx 0rpx rgba(255, 80, 85, 0.3);
    }
}